###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

# Disable line break normalization for all files

* -text