* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: gray;
}

.container {
    height: 100%;
    width: 100%;
}

[type='radio']/*, [type='checkbox']*/ {
    display: none;
}

button.btn.btn-orangeButton {
    border: 2px solid black;
    border-radius: 8px;
    background: #FC9600;
    transition-duration: 0.2s;
}

button.btn.btn-orangeButton:focus {
    outline: none;
}

button.btn.btn-orangeButton:hover {
    transition-duration: 0.2s;
    background: #EB8514;
}

/* INDEX */
.container > div > div > div.cabecalho {
    height: 10vh;
    background-color: black;
}

.container > div > div > div.templates {
    height: 75vh;
    background-color: rgba(240, 240, 240, 1);
}

.container > div > div > div.atalhos {
    height: 10vh;
    background-color: #FC9600;
}

.container > div > div > div.rodape {
    height: 5vh;
    background-color: black;
}

a {
    text-decoration: none;
}

.container > div > div > div.atalhos > a > div.acessoRapido {
    margin-top: 1vh;
    margin-left: 3.5vw;
    height: 10vh;
    float: left;
}

.container > div > div > div.atalhos > a > div.acessoRapido > span.glyphicon {
    font-size: 5em;
    color: black;
    transition-duration: 0.5s;
}

.container > div > div > div.atalhos > a > div.acessoRapido > span.glyphicon:hover {
    font-size: 5em;
    color: white;
    transition-duration: 0.5s;
}

/* INDEX */

/* ROTINA-BUSCAR */
div.rotina > div.absolute {
    padding: 20px;
    height: 15vh;
    width: 80%;
    margin: 20px auto;
    background-color: #C4C8CC;
    border-radius: 25px 25px 25px 0;
    position: relative;
    box-shadow: 5px 5px;
}

div.rotina > div.absolute > img.img-thumbnail {
    height: 15vh;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 25px 0 0 0;
}

div.rotina > div.absolute > div.dados {
    margin-left: 30%;
    bottom: 35px;
    font-size: 20px;
}

div.rotina > div.absolute > button.btn.btn-orangeButton {
    height: 10vh;
    bottom: 25px;
    right: 25px;
    position: absolute;
}
/* ROTINA-BUSCAR */

/* MEUS-GRUPOS */
div.grupos > div.absolute {
    padding: 20px;
    height: 15vh;
    width: 80%;
    margin: 20px auto;
    background-color: #C4C8CC;
    border-radius: 25px 25px 25px 0;
    position: relative;
    box-shadow: 5px 5px;
}

td > img.img-circle {
    height: 5vh;
    top: 0;
    left: 0;
    border-radius: 25px 0 0 0;
}

div.grupos > div.absolute > div.dados {
    margin-top: 20px;
    display: block;
    float: none;
    position: relative;
}

th, td {
    height: 50px;
    width: 50px;
}

#cssTable th, td {
    text-align: center;
    vertical-align: middle;
}
/* MEUS-GRUPOS */

/* ROTINA-CADASTRAR */
/*div.rotina-cadastrar > form > div.absolute > div > button.btn.btn-orangeButton {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    height: 5vh;
    float: left;
}*/

div.rotina-cadastrar > div.absolute {
    height: 75vh;
}

div.rotina-cadastrar > div.absolute > div.passageiro {
    height: 5vh;
    width: 50%;
    margin: 0 auto;
}

div.rotina-cadastrar > div.absolute > div.passageiro > label > div.motorista {
    width: 50px;
    height: 5vh;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    background: #FC9600;
    border-radius: 10px;
    border: 3px solid black;
}

div.rotina-cadastrar > div.absolute > div.passageiro > label > div.passageiro {
    width: 50px;
    height: 5vh;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    background: #FC9600;
    border-radius: 10px;
    border: 3px solid black;
}

div.rotina-cadastrar > div.absolute > div.passageiro > label > div.motorista:hover {
    background: #EB8514;
}

div.rotina-cadastrar > div.absolute > div.passageiro > label > div.passageiro:hover {
    background: #EB8514;
}

div.rotina-cadastrar > div.absolute > div.barraProgresso {
    width: 50%;
    margin: 0 auto;
}

div.rotina-cadastrar > div.absolute > div.barraProgresso > div.progress > div.progress-bar.progress-bar-warning {
    background: #FC9600;
}

div.rotina-cadastrar > div.absolute > div.diaSemana {
    margin: 0 auto;
    height: 5vh;
    width: 45%;
}

div.rotina-cadastrar > div.absolute > div.diaSemana > label > div.checkbox {
    width: 50px;
    height: 5vh;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    background: #FC9600;
    border-radius: 25px;
    border: 3px solid black;
}

div.rotina-cadastrar > div.absolute > div.diaSemana > label > div.checkbox:hover {
    background: #EB8514;
}

div.rotina-cadastrar > div.absolute > div.horario {
    margin: 0 auto;
    height: 10vh;
    width: 30%;
}

div.rotina-cadastrar > div.absolute > div.origem, div.destino {
    margin: 0 auto;
    height: 10vh;
    width: 55%;
}

div.rotina-cadastrar > div.absolute > div.horario, div.origem, div.destino > input {
    line-height: 30px;
    font-size: 30px;
}

div.rotina-cadastrar > div.absolute > div.cadastro {
    margin-left: 250px;
    background: purple;;
    bottom: 150px;
    position: absolute;
}