<br>
<h1>Motorista</h1>
<div class="grupos">
    <table class="table table-striped" id="cssTable">
        <thead>
            <th>Foto</th>
            <th>Nome</th>
            <th>Dia Semana</th>
            <th>Horário</th>
            <th>Remover</th>
        </thead>
        <tbody>
            <td><img class="img-circle" src="http://cypressequities.propertycapsule.com/property/images/No_Image.png"></td>
            <td class="dados">Nome</td>
            <td class="dados">Semana</td>
            <td class="dados">Horário</td>
            <td><button type="button" class="btn btn-danger btn-lg" ng-click="remover(usuario)"><span class="glyphicon glyphicon-remove"></span></button></td>
        </tbody>
    </table>
<h1>Passageiro</h1>
<div class="grupos">
    <table class="table table-striped" id="cssTable">
        <thead>
            <th>Foto</th>
            <th>Nome</th>
            <th>Dia Semana</th>
            <th>Horário</th>
            <th>Sair</th>
        </thead>
        <tbody>
            <td><img class="img-circle" src="http://cypressequities.propertycapsule.com/property/images/No_Image.png"></td>
            <td class="dados">Nome</td>
            <td class="dados">Semana</td>
            <td class="dados">Horário</td>
            <td><button type="button" class="btn btn-danger btn-lg" ng-click="sair(grupo)"><span class="glyphicon glyphicon-remove"></span></button></td>
        </tbody>
    </table>
</div>