<br> 
<h1>Rotinas</h1> 
<div class="rotinas-visualizar"> 
    <table class="table table-striped" id="cssTable"> 
        <thead> 
            <th>P ou M</th> 
            <th>Distancia</th> 
            <th>Horário</th> 
            <th>Excluir</th> 
        </thead> 
        <tbody> 
            <tr ng-repeat="rotina in rotinas"> 
                <td class="dados">{{ rotina.Passageiro }}</td> 
                <td class="dados">{{ rotina.RotinaDiaSemanaList.diaSemana }}</td> 
                <td class="dados">{{ rotina.Horario }}</td> 
                <td><button type="button" class="btn btn-danger btn-lg" ng-click="remover(rotina)"><span class="glyphicon glyphicon-remove"></span></button></td> 
            </tr> 
        </tbody> 
    </table> 
</div>