body {
    box-sizing: border-box;
}

.container {
    background-color: gray;
    position: relative;
}

/*INDEX*/
.header, .footer {
    height: 10vh;
    width: 100%;
    background-color: yellow;
    position: fixed;
    z-index: 999;
}

.header {
    top: 0;
}

.footer {
    bottom: 0;
}

.header > .items-header {
    height: 10vh;
}

.footer > .items-footer {
    height: 10vh;
    text-align: center;
    vertical-align: middle;
}

.footer > .items-footer > a > .quick-access > .glyphicon {
    font-size: 5vh;
    color: black;
    margin-top: 2vh;
    transition-duration: 0.8s;
}

.footer > .items-footer > a > .quick-access:hover > .glyphicon {
    font-size: 5vh;
    color: white;
    margin-top: 2vh;
    transition-duration: 0.8s;
}

.active-icon-route {
    color: white;
}

.view {
    width: 100%;
    background-color: pink;
    position: absolute;
    top: 10vh;
}
/*INDEX*/

/*ROTINA-BUSCAR*/
.side-bar {
    height: 80vh;
    width: 20%;
    background-color: blue;
    left: 0;
    position: fixed;
    overflow-y: scroll;
}