<div class="row footer">
    <div class="col-xs-3 col-sm-3 col-md-3 items-footer">
        <a href="#!/rotina-cadastrar">
            <div class="quick-access"><span class="glyphicon glyphicon-plus"></span></div>
            <div>Adicionar</div>
        </a>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 items-footer">
        <a href="#!/rotina-buscar">
            <div class="quick-access"><span class="glyphicon glyphicon-search"></span></div>
            <div>Pesquisar</div>
        </a>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 items-footer">
        <a href="#!/rotina-visualizar">
            <div class="quick-access"><span class="glyphicon glyphicon-time"></span></div>
            <div>Rotinas</div>
        </a>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 items-footer">
        <a href="#!/meus-grupos">
            <div class="quick-access"><span class="glyphicon ion-android-people"></span></div>
            <div>Grupos</div>
        </a>
    </div>
</div>