<div class="row">
    <div class="col-xs-5 col-xs-offset-2 col-sm-1 col-sm-offset-4">
        <h1>Caronas</h1>
    </div>
    <div class="col-xs-1 col-sm-1">
        <h1>CWI</h1>
    </div>
</div>
<div class="row">
    <div class="">
        <div type="button" class="center-align" ng-click="FacebookLogin()">
            <img class="svg" src="images/icons/facebook-icon.svg" alt="">
        </div>
    </div>
</div>
<div class="row">
    <div class="">
        <div type="button" class="center-align" ng-click="GoogleLogin()">
            <img class="svg" src="images/icons/google-icon.svg" alt="">
        </div>
    </div>
</div>
