<h1>{{ name }}</h1>
<input type="button" ng-click="FacebookLogin()" value="Logar com o Facebook">
<input type="button" ng-click="FacebookLogout()" value="Sign out">

<span id="googleSignIn">
    <span id="signInButton"></span>
</span>

<div class="g-signin2" data-onsuccess="onSignIn"></div>

<div><a href="#" ng-click="GoogleLogout()">Sign out</a></div>


<input type="button" ng-click="GoogleLogin()" value="Logar com o Google">
<input type="button" ng-click="GoogleLogout()" value="Sign out">

<div>{{ idGoogle }}</div>