<br>
<h1>{{ name }}</h1>

<input type="button" ng-click="FacebookLogin()" value="Logar com o Facebook">

<input type="button" ng-click="FacebookLogout()" value="Sign out">



<span id="googleSignIn">

    <span id="signInButton"></span>

</span>



<div class="g-signin2" data-onsuccess="login"></div>



<div><a href="#" ng-click="GoogleLogout()">Sign out</a></div>





<input type="button" ng-click="GoogleLogin()" value="Logar com o Google">

<input type="button" ng-click="GoogleLogout()" value="Sign out">

<!--<br>
<div class="rotina-cadastrar">
    <div class="absolute">
        <div class="facebook">
            <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false"
            data-auto-logout-link="false" data-use-continue-as="false"></div>
        </div>
        <br>

        <div class="google">
            <div class="g-signin2" data-onsuccess="GoogleLogin()"></div>
        </div>
    </div>
</div>-->

<div class="row">
    <div class="col-xs-offset-2 col-sm-offset-4">
        <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false"
            data-auto-logout-link="false" data-use-continue-as="false" ng-click="FacebookLogin()"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-offset-2 col-sm-offset-4">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <div class="g-signin2" data-onsuccess="GoogleLogin()"></div>
    </div>
</div>