<br>
<h1>Motorista</h1>
<div class="grupos">
    <table class="table table-striped" id="cssTable">
        <thead>
            <th>Foto</th>
            <!--<th>Id Prov</th>-->
            <th>Dia Semana</th>
            <th>Horário</th>
            <th>Excluir Grupo</th>
        </thead>
        <tbody>
            <tr ng-repeat="grupoMotorista in gruposMotorista">
                <div ng-if="gruposMotorista === undefined">Nenhum grupo encontrado!</div>
                <td></td>
                <!--<td><img class="img-circle" src="http://cypressequities.propertycapsule.com/property/images/No_Image.png"></td>-->
                <!--<td class="dados">{{ grupoMotorista.idGrupo }}</td>-->
                <td class="dados">
                    <ul ng-repeat="diaSemana in grupoMotorista.rotina.rotinaDiaSemanaList"><li>{{ diaSemana.diaSemana.nome }}</li></ul>
                </td>
                <td class="dados">{{ grupoMotorista.rotina.horario | date:'HH:mm' }}</td>
                <td><button type="button" class="btn btn-danger btn-lg" ng-click="removerGrupo(grupoMotorista.idGrupo)"><span class="glyphicon glyphicon-remove"></span></button></td>
            </tr>
        </tbody>
    </table>
<h1>Passageiro</h1>
<div class="grupos">
    <table class="table table-striped" id="cssTable">
        <thead>
            <th>Foto</th>
            <th>Dia Semana</th>
            <th>Horário</th>
            <th>Sair</th>
        </thead>
        <tbody>
            <tr ng-repeat="grupoPassageiro in gruposPassageiro">
                <div ng-if="gruposPassageiros === undefined">Nenhum grupo encontrado!</div>
                <td></td>
                <!--<td><img class="img-circle" src="http://cypressequities.propertycapsule.com/property/images/No_Image.png"></td>-->
                <td class="dados">{{ grupoMotorista.idGrupo }}</td>
                <td class="dados">
                    <ul ng-repeat="diaSemana in grupoMotorista.rotina.rotinaDiaSemanaList"><li>{{ diaSemana.diaSemana.nome }}</li></ul>
                </td>
                <td class="dados">{{ grupoMotorista.rotina.horario | date:'HH:mm' }}</td>
                <td><button type="button" class="btn btn-danger btn-lg" ng-click="remover(usuario)"><span class="glyphicon glyphicon-remove"></span></button></td>
            </tr>
        </tbody>
    </table>
</div>
