<br>
<h1>Rotinas</h1>
<div class="rotinas-visualizar">
  <div class="rotinas-visualizar-table"> <h4>Passageiro</h4>
    <table class="table table-striped" id="cssTable">
        <thead>
            <th>Dia Semana</th>
            <th>Horário</th>
            <th>Excluir</th>
        </thead>
        <tbody>
            <tr ng-repeat="rotina in rotinasPassageiro">
                <td class="dados">
                  <div class="row margem">{{rotina.rotinaDiaSemanaList[0].diaSemana.nome}}</div>
                  <div class="row margem">{{rotina.rotinaDiaSemanaList[1].diaSemana.nome}}</div>
                  <div class="row margem">{{rotina.rotinaDiaSemanaList[2].diaSemana.nome}}</div>
                  <div class="row margem">{{rotina.rotinaDiaSemanaList[3].diaSemana.nome}}</div>
                  <div class="row margem">{{rotina.rotinaDiaSemanaList[4].diaSemana.nome}}</div>
                </td>
                <td class="dados">{{rotina.horario|date:'HH:mm'}}</td>
                <td><button type="button" class="btn btn-danger btn-lg" ng-click="remover(usuario)"><span class="glyphicon glyphicon-remove"></span></button></td>
            </tr>
        </tbody>
    </table>
  </div>
  <div class="rotinas-visualizar-table"> <h4>Motorista</h4>
    <table class="table table-striped" id="cssTable">
        <thead>
            <th>Horário</th>
            <th>Dia Semana</th>
            <th>Vagas</th>
            <th>Excluir</th>
        </thead>
        <tbody>
            <tr ng-repeat="rotina in rotinasMotorista">
                <td class="dados">{{rotina.horario|date:'HH:mm'}}</td>
                <td class="dados">
                  <div class="row margem">{{rotina.rotinaDiaSemanaList[0].diaSemana.nome}}</div>
                  <div class="row margem">{{rotina.rotinaDiaSemanaList[1].diaSemana.nome}}</div>
                  <div class="row margem">{{rotina.rotinaDiaSemanaList[2].diaSemana.nome}}</div>
                  <div class="row margem">{{rotina.rotinaDiaSemanaList[3].diaSemana.nome}}</div>
                  <div class="row margem">{{rotina.rotinaDiaSemanaList[4].diaSemana.nome}}</div>
                </td>
                <td class="dados">
                  <div class="row margem">{{rotina.rotinaDiaSemanaList[0].vagasDisponiveis}}</div>
                  <div class="row margem">{{rotina.rotinaDiaSemanaList[1].vagasDisponiveis}}</div>
                  <div class="row margem">{{rotina.rotinaDiaSemanaList[2].vagasDisponiveis}}</div>
                  <div class="row margem">{{rotina.rotinaDiaSemanaList[3].vagasDisponiveis}}</div>
                  <div class="row margem">{{rotina.rotinaDiaSemanaList[4].vagasDisponiveis}}</div>
                </td>
                <td><button type="button" class="btn btn-danger btn-lg" ng-click="remover(usuario)"><span class="glyphicon glyphicon-remove"></span></button></td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
