<div ng-include="'templates/header.html'"></div>
<div class="clearfix">
  <div class="side-bar">
    <div class="items-side-bar" ng-repeat="rotina in rotinas">
      <button class="busca btn btn-default" ng-click="procurarMatchs(rotina)">
        {{formatarData(rotina)}}
        <br>
        {{rotina.horario | date: 'HH:mm'}}
      </button>
    </div>
  </div>
  <div class="row">
    <div class="" ng-repeat="match in matchs">


      <img class="img-thumbnail" ng-src="{{match.usuario.urlFoto}}">

    <div class="inline-block">
      <div>Motorista: {{match.usuario.nome}}</div>
      <div>Dias da Semana: {{buscarDiaSemana(match)}}</div>
      <div>Horário: {{match.horario | date: 'HH:mm'}}</div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <button type="button" class="btn btn-orange-button" ng-click="enviarSolicitacao(match)"><span class="glyphicon glyphicon-ok"></span></button>
    </div>
  </div>
  </div>
  <div id="match"></div>
  <div ng-include="'templates/footer.html'"></div>
</div>
