<div ng-include="'templates/header.html'"></div>
<div class="inner">
  <h1>Novidades</h1>
  <ul class="list-group text-center" ng-repeat="notificacao in notificacoes">
    <li class="list-group-item">{{ notificacao.conteudo }}</li>
  </ul>
  <button type="button" class="btn btn-warning btn-block" ng-click="excluirNotificacoes()">Marcar como lido</button>
  <h1>Rotinas</h1>
  <div class="rotinas-visualizar">
    <div class="rotinas-visualizar-table"> <h4>Passageiro</h4>
      <table class="table table-striped" id="cssTable">
        <thead>
          <th>Dia Semana</th>
          <th>Horário</th>
          <th>Distancia</th>
          <th>Endereço</th>
        </thead>
        <tbody>
          <tr ng-repeat="rotina in rotinasPassageiro">
            <td class="dados">
              <ul class="row margem" ng-repeat="diaSemana in rotina.rotinaDiaSemanaList"><li>{{ diaSemana.diaSemana.nome }}</li></ul>
            </td>
            <td class="dados">{{rotina.horario|date:'HH:mm'}}</td>
            <!--<td><button type="button" class="btn btn-danger btn-lg" ng-click="remover(usuario)"><span class="glyphicon glyphicon-remove"></span></button></td>-->
            <td class="dados">{{rotina.distancia}}</td>
            <td class="dados">{{rotina.idOrigem.endereco}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="rotinas-visualizar-table"> <h4>Motorista</h4>
      <table class="table table-striped" id="cssTable">
        <thead>
          <th>Dia Semana</th>
          <th>Vagas</th>
          <th>Horário</th>
          <th>Endereço</th>
        </thead>
        <tbody>
          <tr ng-repeat="rotina in rotinasMotorista">
            <td>
              <ul ng-repeat="diaSemana in rotina.rotinaDiaSemanaList"><li>{{ diaSemana.diaSemana.nome }}</li></ul>
            </td>
            <td>
              <ul ng-repeat="diaSemana in rotina.rotinaDiaSemanaList"><li>{{ diaSemana.vagasDisponiveis }}</li></ul>
            </td>
            <td class="dados">{{rotina.horario|date:'HH:mm'}}</td>
            <!--<td><button type="button" class="btn btn-danger btn-lg" ng-click="remover(usuario)"><span class="glyphicon glyphicon-remove"></span></button></td>-->
            <td class="dados">{{rotina.idOrigem.endereco}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div ng-include="'templates/footer.html'"></div>
